@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  margin: 0;
  padding: 0
}
.App {
  
  text-align: center;

}

.canvas{
  
  background-size: cover;
  background-position: center;


}

.location-search-input{
  font-family: 'Lato', 'sans-serif';
  align-items: left;
  border: 2px solid black;
   border-radius: 5px;
   color: black;
   font-weight: bold;
   margin-left: 20px

}

.input-suggestions{
  font-family: 'Lato', 'sans-serif';
  background-color: white;
  border-bottom: 1px black dotted;
  display: flex;
  align-items: center;
  color: black;
   font-weight: bold;
   margin-left: 20px
   
}

.autoComplete_dropdown_container{
  height:100px;
  overflow: scroll;
  font-size: 10px;
  width: 300px;
}

.individual-image{
  width:300px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}
.label{
  font-family: 'Lato', 'sans-serif';
  background-color: white;
  align-items: center;
  color: gray;
  margin-top: 100px;
  
} 

.choose-file{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px
}
.material-icons{
  font-size: 20px;
  color: darkslategray
}


.imgHoder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px
}

.item-preview{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;
}

